<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title>ExamCristobalerenchun</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="style.css" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <!-- Navigation ------------------------------------------------------------------------------------------------------------------------------------------>
  <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="home/index" ><img src="/assets/joe.png" height="50" width="90"></a>
      <h1 style="color:black" >Joes pizza</h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <a class="btn btn-primary m-1" style="color:#FFFFFF" href="/home/index">Home</a>
            </li>

            <li class="nav-item active">
              <a class="btn btn-primary m-1" style="color:#FFFFFF" href="/projects">Pizza?</a>
            </li>



            <li class="nav-item active">
              <a class="btn btn-primary m-1" style="color:#FFFFFF" href= "/profiles" >User profile</a>
            </li>



          <%else%>
            <li class="nav-item active">
              <a class="btn btn-primary m-1" style="color:#FFFFFF" href="/home/index">Home</a>
            </li>

            <li class="nav-item active">
              <a class="btn btn-primary m-1" style="color:#FFFFFF" href="/projects">Pizza</a>
            </li>

          <%end %>

          <% if user_signed_in? %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :style=> 'color:#FFFFFF;', :class => 'btn btn-primary m-1'%>
          <%else%>
            <a href="/users/sign_in" class="btn btn-primary m-1" style="color:#FFFFFF"  role="button">Log in</a>


          <%end %>
          <div class="row">
            <div class="col">
              <input class="form-control mt-1 m-1" type="search" placeholder="Search" aria-label="Search">
            </div>
            <button class="btn btn-success mt-1 mb-1 m-1" type="submit">Search</button>
          </div>
        </ul>
      </div>
    </div>


  </nav>





  <body>
  <div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
  </body>
</html>











